<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/css/styles.css" />

    <title>Fundamentos Vuejs</title>
  </head>
  <body>

    <div id="app"> <!--instancia principal de vue(compontente padren podemos pasar informacion REACTIVA al componente hijo)-->
      <nav class="navbar fixed-top navbar-dark bg-info">
        <span class="navbar-brand mb-0 h1">Hello Vue</span>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link" @click="displayCart=true">
              Cart {{ cart.length }}
            </a>
          </li>
        </ul>
      </nav>
      <div class="container mt-5">
        <h1>{{title}}</h1>
        <product-component :premium = 'premiumUser'> </product-component> <!--llamada al componente hijo de vue-->
      </div>

      <div
        class="modal"
        :class="{show: displayCart}"
        :style="modalStyle"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button
                @click="displayCart=false"
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button
                @click="displayCart=false"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/x-template" id="product-template">

      <div class="row">
          <div class="col md-6">
              <img :src="img" alt="Imagen" class="img-thumbnail img-fluid">
          </div>
          <div class="col md-6">
              <h2>{{name}}</h2>
              <p>{{description}}</p>
              <p>stock: {{stock}}</p>

              <p v-if='stock > 10' > En Stock</p>

              <p v-else-if='stock <= 10 && stock > 0' > Quedan pocos </p>

              <p v-else>Sin stock</p>
              <p>Costo de envío: {{shipping}}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Formato</label>
                </div>
                <select v-model="selectedFormat" class="custom-select" id="inputGroupSelect01">
                  <option v-for='format in formats' :value="format">{{format.type}}</option>

                </select>
                <button :disabled='!hasStock' @click='addToCart' class='btn btn-primary'>Agregar al carrito</button>
                <button class='btn btn-primary'>Quitar del carrito</button>
              </div>


          </div>
          <!--<button @click='stock +=1'>{{stock}}</button>-->
          
      </div>

    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="components/product.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
